body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f4f4f4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.questions{
  text-align: center;
}

.center{
  align-items: center;
  text-align: center;
}

.button{
  margin-top: 20px;
}

.justify{
  text-align: justify;
}

.home-text{
  display: flex;
  flex-direction: column; /* Ensures items are arranged vertically */
  align-items: center; /* Centers items horizontally in the flex container */
  justify-content: center; /* Adjusts distribution of children along the vertical axis, if needed */
  width: 60%;
  margin: 0 auto; /* Centers the div itself horizontally in its parent */
  text-align: center; /* Ensures text inside the div is centered */
}